h1 {
  background-color: rgb(0, 83, 11);
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
  padding-bottom: 10px;
  width: 240px;
}

p {
  margin: auto;
  padding-top: 5px;
  text-align: center;
  width: 235px;
}

select {
  margin: 30px 10px;
  width: 200px;
}

img {
  align-items: baseline;
  border: 1px solid #dedede;
  box-sizing: border-box;
  padding: 10px;
  width: 240px;
}

button {
  background-color: rgb(70, 207, 88);
  border-radius: 5px;
  border-style: outset;
  border-width: 1.5px;
  color: black;
  font-family: 'Livvic', sans-serif;
  height: 30px;
  line-height: 10px;
  margin: 15px 5px;
  padding: 10px;
  text-align: center;
}

button:hover {
  background-color: rgb(0, 83, 11);
  color: white;
}

#photo-template {
  display: none;
}
